{% extends 'index.html' %}

{% block content %}
  <div class="container">
    {% if tag_list %}
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center">{{tag_list.0.animal.animal_tag}} tags
          <a href="{% url 'register-tag-id' animal_id %}" class="btn btn-success pull-right">
            New tag
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          </h3>
          <hr>
        </div>
      </div>
      {% for tag in tag_list %}
        <div class="row">
          <div class="col-xs-12">
            <p>Date: {{tag.date_and_time|date:"SHORT_DATE_FORMAT"}} at {{tag.date_and_time|time:"H:i:s"}}</p>
            <p>Seen at: {{ tag.get_lat_and_lon }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <a href="{% url 'detail-tag' tag.pk %}" class="btn btn-info">
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
              Details
            </a>

            <a href="{% url 'remove-tag' tag.pk %}" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Delete tag
            </a>
          </div>
        </div>

        <hr>
      {% endfor %}

      <a href="{% url 'list-animals' %}"><p class="text-right">Return to homepage</p></a>
      <br>
    {% else %}
    <style>
      .footer{
        bottom: 0;
        position: absolute;
      }
    </style>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">No tags were found</h3>
        <a href="{% url 'list-animals' %}"><p class="text-center">Return to homepage</p></a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
