{% extends 'index.html' %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <a href="{% url 'register-animal' %}" class="btn btn-success pull-right">
        New animal
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  {% if animal_list %}
    {% for animal in animal_list %}
    <div class="row">
      <div class="col-xs-12">
        <h3><a href="{% url 'detail-animal' animal.pk %}">{{ animal.animal_tag }}</a></h3>
        <p>First sighting: {{ animal.first_sighting|date:"SHORT_DATE_FORMAT"}} at {{ animal.first_sighting|time:"H:i"}}</p>
        <p>First seen on: {{ animal.get_lat_and_lon }}</p>

        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-info" href="{% url 'list-animal-tags' animal.pk %}" type="button">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            View tags
          </a>
          <a class="btn btn-success" href="{% url 'register-tag-id' animal.pk %}" type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create tag
          </a>
          <a class="btn btn-danger" href="{% url 'remove-animal' animal.pk %}" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
          </a>
        </div>
        
        <hr>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
