{% extends 'index.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">{{ animal.animal_tag }} details</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <td class="">Date and time</td>
          <td class="text-center">{{ animal.first_sighting|date:"SHORT_DATE_FORMAT" }} at {{ animal.first_sighting|time:"H:i:s"}}</td>
        </tr>
        <tr>
          <td class="">First seen at</td>
          <td class="text-center">{{ animal.get_lat_and_lon }}</td>
        </tr>
        <tr>
          <td class="">Description</td>
          <td class="text-center">{{ animal.description }}</td>
        </tr>
      </table>
    </div>
  </div>

  {% if animal.thumbnail %}
  <div class="row">
    <div class="col-xs-12">
      <a class="thumbnail" href="{{animal.thumbnail.url}}">
        <img src="{{animal.thumbnail.url}}" alt="" />
      </a>
    </div>
  </div>
  {% else %}
  <style>
    .footer{
      bottom: 0;
      position: absolute;
    }
  </style>
  {% endif %}

  <hr>
  <a href="{% url 'list-animals' %}" class="pull-right">Return to homepage</a>

</div>
{% endblock %}
