{% extends 'index.html' %}

{% block head %}
  <style type="text/css">
    .footer{
      position: absolute;
      bottom: 0;
    }
  </style>
{% endblock %}

{% block content%}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Delete tag</h3>
      <hr>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">Are you sure you want to delete "{{ object }}"?</p>
        <a href="{% url 'list-animal-tags' object.animal.pk %}" class="btn btn-primary btn-lg btn-block">Cancel</a>
        <button type="submit" class="btn btn-danger btn-lg btn-block">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
