{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <title>Animal Tagger</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>

  <style type="text/css">
    body{
      padding-top: 60px;
    }
  </style>

  {% block head %}
  {% endblock %}

</head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'list-animals' %}">Tagger</a>
        </div>

        <div id="menu-navbar-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'list-animals' %}">List animals</a></li>
            <li><a href="{% url 'register-animal' %}">Add new animal</a></li>
            <li><a href="{% url 'register-tag' %}">Add new tag</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2016 Cristóbal Liendo</p>
      </div>
    </footer>

  </body>
</html>
