{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
<script>
  navigator.geolocation.getCurrentPosition(function(location) {
    $("#{{form.latitude.auto_id}}").val(String(location.coords.latitude).substr(0, 9));
    $("#{{form.longitude.auto_id}}").val(String(location.coords.longitude).substr(0, 9));
  });

  $(document).ready(function() {
    var now = new Date();

    var day = now.getDate();
    var month = now.getMonth() + 1;
    var year = now.getFullYear();

    var hour = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    var formatted = year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;

    $("#{{form.date_and_time.auto_id}}").val(formatted);
  });
</script>

<style>
  .footer{
    bottom: 0;
    position: absolute;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Create a new tag</h3>
      {% if animal_name %}
        <p class="text-center text-muted">For "{{animal_name}}"</p>
      {% else %}
        <p class="text-center">For a selected animal</a>
      {% endif %}
      <hr>
    </div>
  </div>

  <form action="" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-xs-12">
        {% csrf_token %}

        {% for field in form %}
          {% if field.name == "thumbnail" %}
          {% else %}
            {{field}}
          {% endif %}
        {% endfor %}

        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <label class="btn btn-primary btn-file">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> {{ form.thumbnail.label }} {{ form.thumbnail }}
        </label>
      </div>

      <div class="col-xs-6">
        <button type="submit" class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register tag
        </button>
      </div>
    </div>
  </form>
  <hr>
  {% if animal_to_tag %}
  <a href="{% url 'list-animal-tags' animal_to_tag %}" class="pull-right">Return to animal</a>
  {% else %}
  <a href="{% url 'list-animals' %}" class="pull-right">Return to animals</a>
  {% endif %}
</div>

<br>

{% endblock %}
