{% extends 'index.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Tag details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <td>Tag of</td>
          <td class="text-center">{{tag.animal.animal_tag}}</td>
        </tr>
        <tr>
          <td>Date and time</td>
          <td class="text-center">{{tag.date_and_time|date:"SHORT_DATETIME_FORMAT"}}</td>
        </tr>
        <tr>
          <td>Seen at</td>
          <td class="text-center">{{tag.get_lat_and_lon}}</td>
        </tr>
        <tr>
          <td>Observations</td>
          <td class="text-center">{{tag.get_observations}}</td>
        </tr>
      </table>
    </div>
  </div>

  {% if tag.thumbnail %}
    <div class="row">
      <div class="col-xs-12">
        <a class="thumbnail" href="{{tag.thumbnail.url}}">
          <img src="{{ tag.thumbnail.url }}" alt="" />
        </a>
      </div>
    </div>
  {% else %}
  <style>
    .footer{
      bottom: 0;
      position: absolute;
    }
  </style>
  {% endif %}
  
  <hr>
  <a href="{% url 'list-animal-tags' tag.animal.pk %}" alt="" class="pull-right">Return to animal tags</a>
</div>
{% endblock %}
